
<%-include('navbar')%>
<%-include('menuAdmin')%>

<div class="content-admin-option">


    <div class="row">

        <div class="text-box col-md-4 ">

            <h2 class="nom_filiere">
                <%=dataFiliere.nom%>
            </h2>
            <div class="underline_filiere"></div>
            <!-- <a href="/admin/note/ChoixSem/<%=FiliereId%>"> <i class="fa fa-calendar"></i> Choix semestre</a> -->

        </div>

        <div class="form-box col-md-8">

            <%if(success != '') { %>
                <div class="col-md-6 notif success d-flex justify-content-center align-items-center"><h3><%=success%></h3></div>
            <% } %>   
            
            <%if(error != '') { %>
                <div class="col-md-6 notif d-flex justify-content-center align-items-center"><h3><%=error%></h3></div>
            <% } %>   
            
        </div>

    </div>


    <div class="row mt-3 ml-5">
        <div class="box-list-note col-md-6">
             <h5>Ajouter un élément constitutif :</h5>
             <div class="indication"></div>

             <form action="" method="POST">

                <input type="hidden" name="FiliereId" value="<%=FiliereId%>">
                <input type="hidden" name="SemestreId" value="<%=SemestreId%>">
                <input type="hidden" name="OptionId" value="<%=OptionId%>">
            
                
                <div class="form">
                <label for="UE">Choisissez un UE : </label>
                <select name="UEId" id="UE" class="form-control">
            
                 

                    <%if(data.length != 0) { %>
                        <%for(item of data) { %>
                            <option value="<%=item.id%>"><%=item.nom%></option>
                        <% } %>  

                    <% }else { %>
                        <option value="">UE non disponible</option>
                    <% } %>        

                </select>
                </div>
            
                <div class="form">
                <label for="EC">Elément constitutif : </label>
                <input type="text" name="nom" class="form-control" id="EC">
                </div>

               <div class="form">
                <label for="VH">Volume horaire : </label>
                <input type="number" name="VH" class="form-control" id="VH">
               </div>
               
                <button type="submit">Ajouter</button>
                
             </form> 

        </div>
        <div class="box-option d-flex justify-content-center align-items-center col-md-5">

            <div class="box-items">

             <a href="/admin/ec/semestre/<%=FiliereId%>"><div class=" box box-semestres d-flex justify-content-center align-items-center"><h5><i class="fa fa-calendar"></i> Choisir Semestre</h5></div></a>
             <a href="/admin/ec/liste/<%=FiliereId%>"><div class=" box box-liste-etudiant d-flex justify-content-center align-items-center"><h5><i class="fa fa-list"></i> Liste des EC</h5></div></a>

            </div>
        </div> 
     </div>


</div>



<!-- <%if(success != '') { %>

    <div class="alert alert-success"><%=success%></div>

<% } %>     -->

<!-- <form action="" method="POST">

    <input type="hidden" name="FiliereId" value="<%=FiliereId%>">
    <input type="hidden" name="SemestreId" value="<%=SemestreId%>">


    <select name="UEId" id="">

        <%for(item of data) { %>
            <option value="<%=item.id%>"><%=item.nom%></option>
        <% } %>    
    </select>

    <input type="text" name="nom">
    <input type="number" name="VH">

    <button type="submit">Ajouter</button>


</form> -->