


<%-include('navbar')%>
<%-include('menuAdmin')%>
<div class="content-admin-option">

    <div class="row">

        <div class="text-box col-md-4 ">

            <h2 class="nom_filiere">
                <%=dataFiliere.nom%>
            </h2>
            <div class="underline_filiere"></div>
            <p class="nbr_etudiant">Choisissez une option: </p>
            <a href="/admin/note/ChoixSem/<%=FiliereId%>"> <i class="fa fa-calendar"></i> Choix semestre</a>
            

        </div>

        <div class="form-box col-md-8">
            <!-- widget à rechercher -->
        </div>

    </div>

    <div class="row">

       <%for(item of data) { %>
            <a href="/admin/edt/choixFiliere_option/<%=FiliereId%>/<%=SemestreId%>/<%=item.id%>" class="col-md-5"><div class="optionChoix col-md-12 d-flex justify-content-center align-items-center"><h3><i class="fa  fa-graduation-cap"></i> <%=item.nom%></h3></div></a>
        <% } %>    

        
        


    </div>

</div>





