  


<%-include('navbar')%>
<%-include('menuAdmin')%>


<div class="content-admin-option">

    <div class="row">

        <div class="text-box col-md-4 ">

            <h2 class="nom_filiere"><%=dataFiliere.nom%></h2>
            <div class="underline_filiere"></div>
            <p class="nbr_etudiant">Liste des étudiants : </p>

        </div>

        <div class="form-box col-md-8">

            <form action="" method="POST">

                <input type="hidden" name="FiliereId" value="<%=FiliereId%>">
                <input type="hidden" name="SemestreId" value="<%=SemestreId%>">
                <input type="hidden" name="OptionId" value="<%=OptionId%>">
                <input type="search" name="search" placeholder="Rechercher un étudiant">
                <button type="submit"><i class="fa fa-search"></i></button>
            
            </form>

            
            <%if(success!= '') { %>
                <div class="text-center d-flex justify-content-center align-items-center notif-success"><%=success%></div>
            <% } %>

            <%if(error != '' ) { %>
                <div class="text-center d-flex justify-content-center align-items-center notif"><%=error%></div>
            <% } %>   

            <%if(pass != '') { %>
                <div class="text-center d-flex justify-content-center align-items-center notif-success"><%=pass%></div>
            <% } %>    

        </div>

    </div>


    <div class="row">
        <table class="table col-md-10">
            <thead class="thead-dark">

              <tr>

                <th scope="col">Nom & Prenom</th>
                <th scope="col"></th>

              </tr>

            </thead>
            <tbody>

                <%for(item of data) { %>
                    <tr>
                     <td><i class="fa fa-user"></i><%=item.Utilisateur.nom%>  <%=item.Utilisateur.prenom%><br>
                         <%if(item.SemestreId == 1 || item.SemestreId == 2) { %>
                             <p>L1/<%=item.Semestre.nom%></p>
                         <% } %>
                         <%if(item.SemestreId == 3 || item.SemestreId == 4) { %>
                             <p>L2/<%=item.Semestre.nom%></p>
                         <% } %>
                         <%if(item.SemestreId == 5 || item.SemestreId == 6) { %>   
                             <p>
                                 
                                 L3/<%=item.Semestre.nom%><br>
             
                                 <%if(item.SemestreId == 6 ) { %>
                                     <%if(item.OptionId != 0) { %>
                                         Option : <%=item.Option.nom%>
                                     <%}%>    
                                 <% } %>
                             
                             </p>
                         <% } %>  
                         <%if(item.SemestreId == 7 || item.SemestreId == 8) { %>
                             <p>M1/<%=item.Semestre.nom%><br>Option : <%=item.Option.nom%></p>
                         <% } %>  
             
                         <%if(item.SemestreId == 9 || item.SemestreId == 10) { %>
                             <p>M2/<%=item.Semestre.nom%><br>Option : <%=item.Option.nom%></p>
                         <% } %>        
                     </td>

                     <%if(item.statut != null) { %>
                        <td><a href="/admin/etudiant/enlever/statut/<%=FiliereId%>/<%=SemestreId%>/<%=item.UtilisateurId%>/<%=item.OptionId%>">Enlever</a></td>
                    <% }else{ %>
                        <td><a href="/admin/etudiant/nommer/delegue/<%=FiliereId%>/<%=SemestreId%>/<%=item.UtilisateurId%>/<%=item.OptionId%>">Nommer</a></td>
                    <% } %> 
                     
                    </tr>
                 <% } %>   

             
            </tbody>
          </table>
    </div>

</div>






<!-- 
<form action="" method="POST">

    <input type="hidden" name="FiliereId" value="<%=FiliereId%>">
    <input type="hidden" name="SemestreId" value="<%=SemestreId%>">
    <input type="hidden" name="OptionId" value="<%=OptionId%>">

    <input type="search" name="search">
    <button type = "submit">search</button>

</form>

<table class="table">
    <%for(item of data) { %>
       <tr>
        <td> <a href="#"><%=item.Utilisateur.nom%>  <%=item.Utilisateur.prenom%></a></td>
        <%if(item.statut != null) { %>
            <td><a href="/admin/etudiant/enlever/statut/<%=FiliereId%>/<%=SemestreId%>/<%=item.UtilisateurId%>/<%=item.OptionId%>">Enlever</a></td>
        <% }else{ %>
            <td><a href="/admin/etudiant/nommer/delegue/<%=FiliereId%>/<%=SemestreId%>/<%=item.UtilisateurId%>/<%=item.OptionId%>">Nommer</a></td>
        <% } %>        
       </tr>
    <% } %>   
</table>

  -->