<%-include('navbar')%>
<%-include('menuAdmin')%>

<div class="content-admin-option">


    <div class="row">

        <div class="text-box col-md-4 ">

            <h2 class="nom_filiere"><%=dataFiliere.nom%></h2>
            <div class="underline_filiere" style="margin-bottom: 20px;"></div>
           
            
            <a href="/admin/etudiant/liste/<%=FiliereId%>" class="mt-5">Revenir à la liste</a>
        </div>

        <div class="form-box col-md-8 ">
            <%if(data.length > 0) { %>
                <%if(data.length > 1) { %>
                    <div class="col-md-6 notif success d-flex justify-content-center align-items-center"><h3>Vous avez <%=data.length%> résultats</h3></div>
                <% }else{%>
                    <div class="col-md-6 notif success d-flex justify-content-center align-items-center"><h3>Vous avez <%=data.length%> résultat</h3></div>
                <% } %>    
            <% } else { %>
                <div class="col-md-6 notif d-flex justify-content-center align-items-center"><h3>Vous avez <%=data.length%> résultat</h3></div>
            <% } %>        
            
            
        </div>

    </div>


    <div class="row">
        <table class="table mt-5">
            <thead class="thead-dark">
                <tr>

                    <th scope="col">Nom & Prenom</th>
                    <th scope="col"></th>
                    <th scope="col" class="text-center"></th>
                    <th scope="col"></th>

                  </tr>
            </thead>
            <tbody>

                <%for(item of data) { %>
                    <tr>
                     <td> <p><%=item.Utilisateur.nom%>  <%=item.Utilisateur.prenom%><br>

                        <%if(item.SemestreId == 1 || item.SemestreId == 2) { %>
                            <p>L1/<%=item.Semestre.nom%></p>
                        <% } %>  
                        
                        <%if(item.SemestreId == 3 || item.SemestreId == 4) { %>
                            <p>L2/<%=item.Semestre.nom%></p>
                        <% } %>

                        <%if(item.SemestreId == 5 || item.SemestreId == 6) { %>
                            <p>
                                L3/<%=item.Semestre.nom%><br>
            
                                <%if(item.SemestreId == 6 ) { %>

                                    <%if(item.OptionId != 0) { %>
                                        Option : <%=item.Option.nom%>
                                    <% } %>    
                                   
                                <% } %>    
                            </p>
                        <% } %> 


                        <%if(item.SemestreId == 7 || item.SemestreId == 8) { %>
                            <p>M1/<%=item.Semestre.nom%><br>

                                <%if(item.OptionId != 0) { %>
                                    Option : <%= item.Option.nom%>
                                <% } %> 
                            </p>

                        <% } %>  

                        
                        <%if(item.SemestreId == 9 || item.SemestreId == 10) { %>
                            <p>M2/<%=item.Semestre.nom%><br>

                                <%if(item.OptionId != 0) { %>
                                    Option : <%= item.Option.nom%>
                                <% } %> 
                            </p>

                        <% } %>  
                    </p>
                </td>
                   
             
                     <td><a href="/admin/etudiant/voir/<%=FiliereId%>/<%=item.UtilisateurId%>">Voir</a></td>
                     <td><a href="/admin/etudiant/modifier/<%=FiliereId%>/<%=item.UtilisateurId%>/<%=item.SemestreId%>">Modifier</a></td>
                     <td><a href="/admin/etudiant/supprimer/<%=FiliereId%>/<%=item.UtilisateurId%>/<%=item.SemestreId%>">Supprimer</a></td>
                    </tr>
                 <% } %>   
               
            </tbody>
          </table>
    </div>

</div>




