<div class=" menu-admin-option">
    <h3>Admin <span class="scolarite">Scolarité</span></h3>

    <ul>
        <li> <i class="fa fa-home"></i> <a href="/admin/home">Accueil</a></li>
        <li> <i class="fa fa-plus"></i> <a href="/admin/note/ChoixSem/<%=FiliereId%>">Ajout note</a></li>
        <li><i class="fa fa-pencil-square-o"></i> <a href="/admin/CDT/semestre/<%=FiliereId%>">Cahier de texte</a></li> 
        <li><i class="fa fa- fa-file-text-o "></i> <a href="/admin/ec/option/<%=FiliereId%>">Element constitutif</li>
        <li><i class="fa fa-graduation-cap "></i> <a href="/admin/etudiant/<%=FiliereId%>">Etudiant</a></li> 
        <li><i class="fa fa-calendar-o "></i> <a href="/admin/edt/choixOption/<%=FiliereId%>">Emploi du temps</a></li>
        <li><i class="fa fa-wpforms "></i> <a href="/admin/prof&mat/choixSem/<%=FiliereId%>">Prof & matières</a></li> 
        <li><i class="fa fa-gear "></i> <a href="/admin/optionAdmin/UE/<%=FiliereId%>">Unité d'enseignement</a></li>
    </ul>
</div>