<%-include('navbar')%>
<%-include('menuAdmin')%>





<%-include('navbar')%>
<%-include('menuAdmin')%>


<div class="content-admin-option">


    <div class="row">

        <div class="text-box col-md-4 ">

            <h2 class="nom_filiere">
                <%=dataFiliere.nom%>
            </h2>

            <div class="underline_filiere"></div>
            <p class="nbr_etudiant">Notez les matières à repêcher</p>

        </div>

        <div class="form-box col-md-8">

            <%if(success!= '') { %>
                <div class="text-center d-flex justify-content-center align-items-center notif-success"><%=success%></div>
            <% } %>

            <%if(error != '' ) { %>
                <div class="text-center d-flex justify-content-center align-items-center notif"><%=error%></div>
            <% } %>     

        </div>

    </div>


    <div class="row">

        <form action="" method="POST" class="nbr_etudiant">

            <input type="hidden" name="FiliereId" value="<%=FiliereId%>">
            <input type="hidden" name="UtilisateurId" value="<%=UtilisateurId%>">
            <input type="hidden" name="SemestreId" value="<%=SemestreId%>">
            <input type="hidden" name="OptionId" value="<%=OptionId%>">
        
        
            <%for(item of dataRepech) { %>
        
                <label for="<%=item.EC.id%>"><%=item.EC.nom%></label>
                <input type="hidden" name="ECId" value="<%=item.EC.id%>">
                <input type="text" name="note" id="<%=item.EC.id%>" class="form-control">
                
            <% } %>
            
            <button type="submit" class="btnNoteRepech">Mettre à jour</button>
        
        </form>

    </div>

</div>




   


