



<%-include('navbar')%>

<div class="menu">

    <h3><span class="espace">Espace</span> Admin</h3> 
    
        <ul>

            <li> <i class="fa fa-home"></i> <a href="/admin/home">Accueil</a></li>
            <li> <i class="fa fa-plus"></i> <a href="/admin/ajout_filiere">Ajout filière</a></li>
            <li><i class="fa  fa-users"></i> <a href="/admin/optionProf">Professeur</a></li>
        </ul>
    
</div>

<div class="content-admin-option">


    <div class="row">

        <div class="text-box col-md-4 ">

            <h2 class="nom_filiere">Professeur</h2>
            <div class="underline_filiere"></div>

        </div>

        <div class="form-box col-md-8">

            <%if(success != '') { %>
                <div class="col-md-6 notif success d-flex justify-content-center align-items-center"><h3><%=success%></h3></div>
            <% } %>   
            
            <%if(error != '') { %>
                <div class="col-md-6 notif d-flex justify-content-center align-items-center"><h3><%=error%></h3></div>
            <% } %>   
            
        </div>

    </div>


    <div class="row d-flex">

       <div class="box-list-note col-md-8 ml-5 mt-5">
            <h5>Modification</h5>
            <div class="indication"></div>

            <form action="" method="POST" enctype="multipart/form-data">

                <input type="hidden" name="id" value="<%=id%>">
      
                <label for="photo">
                <div class=" prevImage d-flex justify-content-center align-items-center" style="background-image: url('/user_profil/<%=data.photo%>');">
                    <i class="fa fa-camera camera-input-file" ></i>
                </div>
                </label><br>


                <label>Nom: </label>
                <input type="file" id="photo" name = "photo" hidden class = "filesInput">
                <input type="text" name="nom" class="form-control" value="<%=data.nom%>">
                <label>Prénom: </label>

                <input type="text" name="prenom" class="form-control" value="<%=data.prenom%>">
                <label>E-mail: </label>

                <input type="email" name="email" class="form-control" value="<%=data.email%>">
                <label>Contact: </label>

                <input type="text" name="contact" class="form-control" value="<%=data.contact%>">
                
                <button type="submit">Enregistrer</button> 

            </form>

       </div>
    </div>

</div>

