

<%-include('navbar')%>
<%-include('menuAdmin')%>


<div class="content-admin-option">


    <div class="row">

        <div class="text-box col-md-4 ">

            <h2 class="nom_filiere">
                <%=dataFiliere.nom%>
            </h2>

            <div class="underline_filiere"></div>
            <p class="nbr_etudiant">Attribuez un EC à un proffesseur</p>

        </div>

        <div class="form-box col-md-8">

            <%if(success!= '') { %>
                <div class="text-center d-flex justify-content-center align-items-center notif-success"><%=success%></div>
            <% } %>

            <%if(error != '' ) { %>
                <div class="text-center d-flex justify-content-center align-items-center notif"><%=error%></div>
            <% } %>     

        </div>

    </div>


    <div class="row">
        <form action="" method="POST" class="nbr_etudiant">
            <input type="hidden" name="FiliereId" value="<%=FiliereId%>">
            <input type="hidden" name="SemestreId" value="<%=SemestreId%>">
            <input type="hidden" name="OptionId" value="<%=OptionId%>">
        
        
            <select name="UtilisateurId" id="" class="form-control">       
                 <%for(item of dataProf) { %>
        
                <%let prenom = item.prenom.split(' ')%>
                    <option value="<%=item.id%>"><%=item.nom%> <%=prenom[0]%></option>
                <% } %>    
            </select>
        
            <select name="ECId" class="form-control mt-2">
        
                <%if(data.length === 0) { %>
        
                    <option value = "">néant</option>
        
                <% }else{ %>
                    
                    <%for(items of data) { for(item of items) { %>
                    
                        <option value="<%=item.id%>"><%=item.nom%></option>
            
                        <% } } %>  
                <% } %>        
            </select>
        
            <button type="submit" class="btn btn-secondary mt-3">Attribuer</button>
        </form>
        
    </div>

</div>




   